body{
    font-family:Arial,sans-serif;
    background-image: url(https://th.bing.com/th/id/OIP.Gv52LKATu-Aio9euD928MAHaDE?w=241&h=180&c=7&r=0&o=5&pid=1.7);
    display: flex;
    justify-content: center;
    align-content: center;
    height:100hv ;
    margin: 25%;
    
}
.popup{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,1);
    text-align:center;
    width:350px;
}
.popup.icon{
    font-size:40px;
    color:green
}
.popup h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 16px;
}
.popup p{
    color: #777;
    font-size:16px ;
    margin-bottom: 20;
}
.popup button{
    background-color: #120fdd8e;
    color: white;padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.popup button:hover{
    background-color: #14cc1d;
}